name: Release

on:
  release:
    types: [created]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    env:
      MACOSX_DEPLOYMENT_TARGET: "10.12"

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Set up QEMU
        if: matrix.os == 'ubuntu-latest'
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            override: true

      - name: Add macos target
        if: matrix.os == 'macos-latest'
        run: rustup target add x86_64-apple-darwin

      - name: Install dependencies
        run: pip install cibuildwheel twine

      - name: Build wheels
        run: cibuildwheel --output-dir wheelhouse

      - uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}
          path: ./wheelhouse/*.whl

  upload_release_assets:
    name: Upload Assets to Release
    runs-on: ubuntu-latest
    needs: [build_wheels]

    permissions:
      contents: write

    steps:
      - name: Download all wheels artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Upload Wheels
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.release.tag_name }}
          files: artifacts/**/*.whl
          overwrite_files: true
